<!--
<h1>{{title}}</h1>
<app-principal></app-principal>
-->
<nav class="navbar navbar-default" *ngIf="loggedUser$ | async">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="posts">Início</a>
        </div>

        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="/organizacao">Organização</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/engenheiros">Engenheiros</a>
            </li>
            <li routerLinkActive="active">
                <button type="button" (click)="logout()">Sair</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>