<!--<ul>
    <li *ngFor="let item of listaExemplo">
        {{item}}
    </li>
</ul>

<img src="{{imageSoure}}">
<img [src]="imageSoure">
-->
<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" formControlName="senha" id="senha" placeholder="Senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <div class="alert alert-danger" role="alert" [style.display]="login == 0 ? 'block' : 'none' ">Usuário ou Senha Inválidos</div>
  </form>
</div>