<button type="button" class="btn btn-success">Nova Organizacao</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Comunidade</th>
            <th scope="col">Rt</th>
            <th scope="col">Squad</th>
            <th scope="col">Cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of organizacao">
            <td>{{item.comunidade}}</td>
            <td>{{item.rt}}</td>
            <td>{{item.squad}}</td>
            <td>{{item.cliente}}</td>
        </tr>
    </tbody>
</table>