<button type="button" class="btn btn-success">Novo Post</button>
<ul>
    <li *ngFor="let post of posts">
        <div class="row post">
            <div class="col-md-8">
                <h4>{{post.usuarioNome}}</h4>
                <h3>{{post.titulo}}</h3>
                <h4>{{post.subTitulo}}</h4>
                <img src="{{post.imagem}}">
                <p>{{post.conteudo}}</p>
            </div>
            <div class="col-md-4 comentario">
                <h3>Comentários</h3>
                <ul>
                    <li *ngFor="let comentario of post.comentarios">
                        <div class="row">
                            <h4>{{comentario.usuarioNome}}</h4>
                            <p>{{comentario.conteudo}}</p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<h2 *ngIf="!posts">Sem posts para exibir.. </h2>