<button type="button" class="btn btn-success">Novo Engenheiro</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">RACF</th>
            <th scope="col">Cliente</th>
            <th scope="col">Squad</th>
            <th scope="col">Tecnologia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let engenheiro of engenheiros">
            <td>{{engenheiro.nome}}</td>
            <td>{{engenheiro.email}}</td>
            <td>{{engenheiro.telefone}}</td>
            <td>{{engenheiro.racf}}</td>
            <td>{{engenheiro.cliente}}</td>
            <td>{{engenheiro.squad}}</td>
            <td>{{engenheiro.tecnologia}}</td>
        </tr>
    </tbody>
</table>